
/* Things that need to get done:
	Make a nice logo (not a priority)
	Make the header (battery, health, exp, etc.)
  the background needs to scroll with the page
*/


body {
  background-image:url('../assets/bg_sky.png');
	font-family: "Helvetica", "Helvetica Neue", "Arial", sans-serif;
	font-size: 10px;
	color: black;
}

/*====================
     backgrounds
 ==================*/
.bg1 {
  background-image: url('../assets/questfriend_bg.png');
}

.sky {
  background-image:url('../assets/bg_sky.png');
}

.grass{
  z-index: -1;
  background-image:url('../assets/bg_grass.png');
  position: absolute;
  left: 0px;
  top: 110px;
  width: 100%;
  height: 350px;
  max-height: 400px;
}


/* top header */
h1 {
	font: "Helvetica Neue";
	font-size: 20px;
	font-weight: bold;
	color: gray;
	text-align: center;
	padding: 13px;
	z-index: 1;
}

h2 {
  font: "Helvetica Neue";
  font-size: 10px;
  font-weight: bold;
  color: white;
  text-align: center;
  z-index: 1;
  padding: 5px;
}

p {
  padding:5px;
	background-color: #eeeeee;
	line-height: 120%;
  border-radius: 10px;
  -moz-border-radius: 10px;
  opacity:0.85;
  filter:alpha(opacity=85); /* For IE8 and earlier */
}

.textbox {
  padding: 10px;
  background-color: #eeeeee;
  border-radius: 10px;
  -moz-border-radius: 10px;
  opacity:0.85;
  filter:alpha(opacity=85); /* For IE8 and earlier */
}

.questtextbox {
  padding: 10px;
  margin: 20px 20px 0px 20px;
  background-color: #eeeeee;
  border-radius: 10px;
  -moz-border-radius: 10px;
  opacity:0.70;
  filter:alpha(opacity=70); /* For IE8 and earlier */
}

.center{
	text-align: center;
}

.center_screen {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -70px;
}
/* Link Stuff */
a:link {color: #1a5ddb; text-decoration: none;}
a:visited {color: #1a5ddb; text-decoration: none;}
a:hover {color: #BE333F; text-decoration: underline;}

/* Menu for Header */
#header {
  background-color: #222222;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 25px;
  text-align: center;
  z-index: 1;
}

/* Body of the text */
.box {
	margin: 10px 30px;

}

/* Menu for footer */
#footer {
	background-color: #222222;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 70px;
	text-align: center;
	z-index: 1;
}


.hidden{

    visibility:hidden;
}

.addbtn{
  background-color: #7bb500;
  line-height: 120%;
  border-radius: 100px;
  -moz-border-radius: 100px;
  opacity:0.85;
  filter:alpha(opacity=85); /* For IE8 and earlier */
}

.addbtn:active{
  background-color: #ff5656;
}

.topbuffer{
	margin: 50px;
}	

.bottombuffer{
	margin: 100px;
}

/* ==============
      floats
 ================*/
.clearfix{
	clear:both;
  padding: 0px;
}
.right{
	float:right;
}
.left{
	float:left;
}
.centerleft{
  float:left;
  margin-left: 5%; 
}


/* =======================
   Index page animations
 =========================*/

/* ==============
   Images & Tabs
 ================*/
.tab {
	display: inline-block;
	width: 32px;
	height: 32px;
	padding: 20px;
	background-repeat: no-repeat;
	background-position: center;
}

.home {
	background-image: url(../assets/home.png);
}
.home_on{
	background-image: url(../assets/home_hov.png);
}

.quest{
	background-image: url(../assets/quest.png);
}
.quest_on{
	background-image: url(../assets/quest_hov.png);
}

.map{
	background-image: url(../assets/map.png);
}
.map_on{
	background-image: url(../assets/map_hov.png);
}

.friends{
	background-image: url(../assets/friends.png);
}
.friends_on{
	background-image: url(../assets/friends_hov.png);
}



.dogeimg {
    background-image: url(../assets/doge.gif);
    background-repeat: no-repeat;
    background-size: 50%;
}

.boxlimit {
  max-width: 35%;
  min-width: 50px;
}


/*.avatar{
    width: 60px;
    height: 120px;
    background-repeat: no-repeat;

}

.blackavatar{
    width: 300px;
    height: 600px;

}

.whiteavatar{
    background-image: url(../assets/white_cloak.gif);
}
*/

.loginbg{
    background-image: url(../assets/titlecard.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color:black;

}

.loading{
    background-image: url(../assets/loading.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color:black;

}



/*

html,body {
        background: url(images/bg.jpg) no-repeat center center fixed;
        -webkit-background-size: cover; /*for webKit*
        -moz-background-size: cover; /*Mozilla*
        -o-background-size: cover; /*opera*
        background-size: cover; /*generic*
}

*/

/*======================
    stolen from class so it wont scroll
========================*/

/* turn off the annoying highlight on a tap*/
{
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

/* prevent the user from highlighting any text */
{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* allow highlighting text in inputs */
input {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}